.about {
    text-align: center;
    padding: 3rem;
}
article {
    display: flex;
    @media (max-width: 720px){
        flex-direction: column;
    }
    .info-column {
        padding: 2rem;
        text-align: justify;
        flex: 1;
    }
}

.video {
    @media (max-width: 720px){
        visibility: hidden;
        margin: 0;
        padding: 0;
    }
}