.facilities-card {
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow: 2px 2px #888888;
    margin: 2rem;
    padding: 2rem;
    width: 30%;
    img {
        width: 30%;
        height: 30%;
        border-radius: 2rem;
    }
}