@import 'components/index';
@import 'components/user-facilities';
@import 'components/contact-us';

@font-face {
    font-family: "trade-gothic";
    src: url('../fonts/trade-gothic-lt.ttf'); 
}

$font-family: "trade-gothic";

body {
    font-family: $font-family;
    padding: 0;
    margin: 0;
}

.logo {
    img {
        width: 25%;
        height: 25%;
    }
}

nav {
    ul {
        padding: 0;
        display: flex;
        @media (max-width: 980px){
            flex-direction: column;  
        }
        background-color: gray;
        li {
            flex: 1;
            padding: 2rem 0 2rem 0;
            border-left: 1px solid black;
            list-style-type: none;
            text-align: center;
            a {
                display: block;
                text-decoration: none;
                padding: 2rem;
                cursor: pointer;
            }

            &:hover {
                background-color: bisque;
            }

            &:first-child {
                border-left: none;
            }
        }
    }
}

.charts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .chart {
        padding: 2rem;
    }
    @media (max-width: 890px) {
        justify-content: center;
        flex-direction: column;
    }
}

footer {
    text-align: center;
    background-color: grey;
    .upper-footer {
        display: flex;
        padding: 2rem 4rem 6rem 2rem;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 720px){
            flex-direction: column;
        }

        address {
            // float: left;
        }
    
        .newsletter {
            // float: right;
        }
    }
    
    .lower-footer {
        text-align: center;
        .social-media {
            i {
                font-size: 4rem;
            }
        }
    
        .copyright-info {
            padding: 2rem;
        }
    }
   
}