.about {
  text-align: center;
  padding: 3rem; }

article {
  display: flex; }
  @media (max-width: 720px) {
    article {
      flex-direction: column; } }
  article .info-column {
    padding: 2rem;
    text-align: justify;
    flex: 1; }

@media (max-width: 720px) {
  .video {
    visibility: hidden; } }

main h1 {
  text-align: center; }

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  @media (max-width: 720px) {
    article {
      flex-direction: column;
      justify-content: center; } }
  article .facilities-card {
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow: 2px 2px #888888;
    margin: 2rem;
    padding: 4rem;
    width: 30%; }
    @media (max-width: 720px) {
      article .facilities-card {
        width: 70%; } }
    article .facilities-card img {
      width: 30%;
      height: 30%;
      border-radius: 2rem; }

main {
  margin: 2rem; }
  main .contact form {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 30%; }
    @media (max-width: 720px) {
      main .contact form {
        width: 80%; } }
    main .contact form #submit {
      margin: auto;
      margin-top: 1rem;
      width: 30%; }
  main aside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    @media (max-width: 720px) {
      main aside {
        justify-content: center;
        flex-direction: column;
        text-align: center; } }
    main aside .user-profile-card {
      padding: 2rem;
      border: 1px solid gainsboro;
      border-radius: 2rem;
      box-shadow: 2px 2px #888888;
      width: 30%;
      height: 40%; }
      @media (max-width: 720px) {
        main aside .user-profile-card {
          width: 90%; } }
      main aside .user-profile-card img {
        float: left;
        width: 5%;
        height: 5%;
        padding: 2rem;
        border-radius: 3rem; }

@font-face {
  font-family: "trade-gothic";
  src: url("../fonts/trade-gothic-lt.ttf"); }
body {
  font-family: "trade-gothic";
  padding: 0;
  margin: 0; }

.logo img {
  width: 25%;
  height: 25%; }

nav ul {
  padding: 0;
  display: flex;
  background-color: gray; }
  @media (max-width: 720px) {
    nav ul {
      flex-direction: column; } }
  nav ul li {
    flex: 1;
    padding: 2rem 0 2rem 0;
    border-left: 1px solid black;
    list-style-type: none;
    text-align: center; }
    nav ul li a {
      display: block;
      text-decoration: none;
      padding: 2rem;
      cursor: pointer; }
    nav ul li:hover {
      background-color: bisque; }
    nav ul li:first-child {
      border-left: none; }

footer {
  text-align: center;
  background-color: grey; }
  footer .upper-footer {
    display: flex;
    padding: 2rem 4rem 6rem 2rem;
    flex-direction: row;
    justify-content: space-between; }
    @media (max-width: 720px) {
      footer .upper-footer {
        flex-direction: column; } }
  footer .lower-footer {
    text-align: center; }
    footer .lower-footer .social-media i {
      font-size: 4rem; }
    footer .lower-footer .copyright-info {
      padding: 2rem; }

/*# sourceMappingURL=main.css.map */
